Django==1.10.5
django-admin-interface==0.2.1
django-colorfield==0.1.12
django-flat-responsive==1.2.0
django-flat-theme==1.1.4
django-jet==1.0.5
gTTS==1.2.0
gTTS-token==1.1.1
pbr==1.10.0
pyglet==1.2.4
pyttsx==1.1
requests==2.13.0
six==1.10.0
stevedore==1.20.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
